/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Button:hover{
	-fx-background-color:#2e7d32;
	
	
}
SplitMenuButton:hover{
		-fx-background-color:#2e7d32;
	
}
.list-cell {
  -fx-font: 19px "Times New Roman";
  -fx-font-size:19.0;
}

.list-cell:filled:hover { 
    -fx-background-color: #2e7d32; 
  
}
.c:hover{
	-fx-border-color: #2e7d32;
	-fx-border-width: 0px 0px 3px 0px;
}

.Label {
    -fx-padding: 5px;
    -fx-font-size: 10px;
}

.TextArea {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.credits {
    -fx-padding: 0px;
    -fx-border-color: #2e7d32;
    -fx-border-insets: 5 0 5 0;
    -fx-border-width:1.0;
}

.app_name {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.menu-bar {
    -fx-background-color: transparent;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #2e7d32;
}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
.menu-item:hover {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}
.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.data0.chart-pie
{
-fx-pie-color: #f5f5f5;

}
.data1.chart-pie{
-fx-pie-color: #ffeb3b;
}
.data2.chart-pie{
    -fx-pie-color: #f44336;
    }
.chart-title {
        -fx-text-fill: #2e7d32;
        -fx-font-size: 1.6em;
        -fx-font-family: "Times New Roman";
        -fx-font-weight: bold;
}
.Feild{
	-fx-border-color: #2e7d32;
	-fx-border-width: 0.0px 0.0px 2px 0.0px;
	-fx-background-color:transparent;
}

.table-row-cell:filled:selected {
    
  	-fx-background-color: #81c784;
 	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
}

.table-view .placeholder .label {
	-fx-text-fill: red;
	-fx-padding:20px;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #2e7d32; 
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
   -fx-background-color: whitesmoke; 
   -fx-text-background-color:  #000000;
   -fx-font-weight: bold;   
}
.separator .line {
    -fx-border-color: #2e7d32;
    -fx-border-width: 2;    
}
